html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.ty-page {
    background-color: #f3ece7;
}

.maynooth {
    background-color: #f3ece7;
}

section {
    background-color: #ede9e3;
}

.hero {
    background-color: #f3ece7;
    color: #5f5f5e;
    font-size: 40px;
    padding-bottom: 150px;
}

footer {
    background-color: #ede9e3;
    font-size: 30px;
    text-align: center;
    padding: 100px;
    color: #2e2e2d;
}

.logo {
    margin-top: 70px;
    margin-left: 80px;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

ul.show {
    display: block;

}


li {
    color: #2e2e2d;
    text-decoration: none;
    margin-right: 80px;
    margin-top: 70px;
}

h1 {
    font-size: 90px;
    margin: 0px;
}

h2 {
    font-size: 50px;
    color: #5f5f5e;
}

p {
    margin-top: 50px;
    margin: 5px;
    font-size: 30px;
    font-weight: 200;
    color: #5f5f5e;
    display:flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #5f5f5e;
}

.hero-area {
    display: flex;
    padding-top: 150px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.socials {
    margin-right: 50px;
    margin-bottom: 100px;
}

.social {
    margin: 20px;
}

.button {
    width: 180px;
    height: 47px;
    border-radius: 30px;
    background-color: #e9ccb1;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 1.3px;
    margin-top: 20px;
}

.button:hover {
    background-color: #d3c4be;
}

.button:active 
{
    background-color: #a9a9a9;
    color: #808080;
}

.view:hover {
    background-color: #a9a9a9;
    color: #808080;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    display: flex;
    justify-content: center;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #ede9e3;
}

.headshot {
    width: 300px;
    border-radius: 10px;
}

.headshot-container {
    display: flex;
    align-items: center;
    margin-top: 250px;
    margin-right: 100px;
    margin-bottom: 140px;
    align-items: center;
    
}

.information {
    color: #5f5f5e;
    margin: 80px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 300px;
    padding-top: 110px;
}  

.project-card {
    position: relative;
    overflow: hidden;
}

h3 {
    inset: 25px;
    position: absolute;
    color: #ede9e3;
}

.sub-text {
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight:400;
    color: #ede9e3;
    padding: 1rem;
    background: rgba(27, 27, 27, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    position: absolute;
    margin-bottom: 30px;
    font-weight:500;
    border-style: solid;
    border-radius: 10px;
}

.project-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ede9e3;
}

.project-image {
    display:block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.project-card img
.project-card .sub-text {
    transition: 200ms, ease-in-out;
}

.project-card:hover > img.blur {
    filter: blur(5px);
}

.project-card:hover > img.zoom {
    transform: scale(1.1);
}

.project-card:hover > h3 {
    opacity: 1;
}

.project-card > h3 {
    opacity: 0;
}

.project-card > .sub-text.fade {
    opacity: 0;
}

.project-card:hover > .sub-text.fade {
    opacity: 1;
}

.project-card > .view.fade {
    opacity: 0;
}

.project-card:hover > .view.fade {
    opacity: 1;
}

a {
    text-decoration: none;
}

.hamburger {
    border: 0px;
    background-color: transparent;
    color: #5f5f5e;
    font-size: 30px;
    display: none;
}

.hamberger:focus {
    outline: 0;
}

@media only screen and (max-width: 1284px) {
    .hamburger {
        display: block;
        border: 0px;
        background-color: transparent;
        color: #5f5f5e;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #eee4ce;
        margin: 0px;
        padding-bottom: 40px;
    }

    ul.show {
        display: block;   
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #eee4ce;
    }

    .logo {
        display: none;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    .sub-section {
        display: flex;
        flex-wrap: wrap;
    }
    
    .headshot-container {
        margin: 0;
        float: left;
    }

    h2 {
        margin-top: 90px;
        font-size: 30px;
    }

    h1 {
        font-size: 50px;
        margin-right: 50px;
    }

    p {
        font-size: 20px;
    }
    
    .project-card > h3 {
        opacity: 1;
    }
    
    .project-card > .sub-text.fade {
        opacity: 1;
    }

}

.subtitle {
    margin-bottom: 15px;
}

.form-submit {
    width: 50%;
    display:inline-table
}

.form-submit form {
    width: 100%;
    overflow: auto;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-control {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    border: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
}

.form-row .form-control:focus,
.form-submit textarea:focus {
    outline: 0;
    background-color: #cdc6c3;
}

.form-submit textarea {
    font-family: 'Poppins', sans-serif;
    width: 93%;
    border: none;
    padding: 0;
    resize: none;
    margin-top: 5px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
}

form .form-button {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 47px;
    border-radius: 10px;
    background-color: #e9ccb1;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 1.3px;
    margin-top: 3px;
    border: none;
    color: #5f5f5e;
    font-weight: 300;
}

form .form-button:hover {
    background-color: #d3c4be;
}

.contact-form {
    display: inline;
}

@media only screen and (max-width: 1000px) {
    .form-submit {
        width: 80%;
    }
    .form-submit .form-row {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .form-row .form-control{
        width: 90%;
        border-radius: 10px;
    }

    .form-submit textarea {
        width:80%;
        
    }
}

.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 90px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #e9ccb1;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 0px;
    pointer-events: auto;
    opacity: 1;
}

.thank-you {
    text-align: center;
    margin-top: 260px;
    font-weight: 300;
}

.download {
    font-size: 15px;
    text-align: center;
}

.resume {
    display: inline-block;
    margin-top: 30px;
}

